/* style.css - Custom CSS Styles */

/* HTML Tags */
body {
  /* JQuery Terminal Properties */
  --size: 1.25;

  --color: #ded3c3;
  --background: #2B2926;

  cursor: text;

  overflow: hidden;
}

a {
  color: #547298;
  text-decoration: none;
  font-style: italic;
}

p {
  margin: 0;
}

/* Classes */
.description {
  color: #7d786f;
}

/* ETC. */
@media (prefers-reduced-motion) {
  :root {
      --animation: terminal-none;
  }
}

