@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --text-color: #c6d0f5;
    --subtext-color: #a5adce;
    --primary-color: #ca9ee6;
    --mantle: #292c3c;
}

* {
    color: var(--text-color) !important;
    background-color: var(--mantle) !important;
}

.subtext {
    color: var(--subtext-color) !important;
}

.fs-7 {
    font-size: smaller !important;
}

.btn { border-radius: 0. !important; }

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: var(--primary-color) !important;
    color: var(--mantle) !important;
    outline: 0 none transparent !important;
    border: 0 none transparent !important;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Merriweather';
}

a {
    text-decoration: none !important;
    font-family: 'Open Sans';
}

p {
    color: #242424;
    font-family: 'Open Sans';
}

.footer p {
    color: #888;
}

.text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.repo {
    background-color: #41455f !important;
}

.repo * {
    background-color: #41455f !important;
}

.star {
    color: #e5c890 !important;
}

.language {
    color: var(--subtext-color) !important;
}
