@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Merriweather';
}

a {
    text-decoration: none;
    color: rgb(28, 80, 211);
    font-family: 'Open Sans';
}

p {
    color: #242424;
    font-family: 'Open Sans';
}

.footer p {
    color: #888;
}

.text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}
